h1,h2{
    color: white;
}
h1{
    margin-top: 0%;
}
.input_area{
    width: 100%;
    display: flex;
     align-items: center;
     justify-content: space-around;
     border-radius: 1em;

}
input{
    height: 1.5em;
}
.container{
   background-color: #1C1C1C;
    display: inline-flex;
    padding: 1.5em;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
}
.area{
    display: flex;
    justify-content: center;
}
textarea{
    margin-top: 2em;
}
.button{
    height: 3em;
    width: 100%;
   background-color: #FF9500;
   color: white;
}
button:hover{
    cursor:pointer ;
}